*{
 margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
     box-sizing: border-box;
}

.body{

  width:100%;
    height: 90%;
    display: block;
   background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(../images/518.png) ; 

   
}
.body h1{
  font-family: 'Lobster', cursive;
    padding: 90px;
color:white;
    
   
    
      text-align: center;


    font-size:70px;
   
   
    
    
}
.body p{
       font-family: 'Lobster', cursive;
 text-align: center;

         

    font-size:70px;
   color:white;
}
.body a{
    padding: 90px;
 
  text-align: center;  
     font-size:40px;
   color:white;
    
}
.body h3{
    padding: 90px;
 font-family: 'Freckle Face', cursive;
  text-align: center;  
     font-size:40px;
   color:white;
    
}